# Ignore __pycache__ directories
part1/src/database/__pycache__/*
part2/src/database/__pycache__/*

# Ignore .pyc files inside __pycache__ directories
part1/src/database/__pycache__/*.pyc
part2/src/database/__pycache__/*.pyc
